<div class="centerPageItems">
  <h1>Available Vehicles</h1>

  {{#if session.isAdmin}}
    <div><a href="/new"><h3>Add vehicle</h3></a></div>
  {{/if}}

  <div class="stockGrid">{{#each vehicles}}
      <ul>
        <li class="vehicleLi">
          <a href="vehicle/{{reg_plate}}">
            <div>
              Make:{{this.make}}
              <br />
              Model:{{this.model}}
              <br />
              Year:{{this.prod_year}}
              <br />
              Kilometers:{{this.kilometers}}</div>

          </a>
        </li>
          {{#if ../session.isAdmin}}
          <a href="/new/{{reg_plate}}"><h3>Modify</h3></a>
          <a href="/vehicle/delete/{{reg_plate}}"><h3>Delete</h3></a>
          {{/if}}
      </ul>
    {{/each}}
  </div>
</div>