<div class="centerPageItems">
  <div class="vehicleInfo">
    <div class="makeModel">
      {{vehicle.make}}
      {{vehicle.model}}
    </div>

    {{vehicle.prod_year}}
    <br />
    {{vehicle.kilometers}}
    <br />
    {{vehicle.reg_plate}}
    <br />
    {{vehicle.facility_id}}
    <br />
    {{vehicle.emp_id}}
    <br />
    <img
      src="{{vehicle.imgURL}}"
      alt="{{vehicle.imgURL}}"
      class="vehicleImage"
    />
  </div></div>